<header class="sticky top-0 md:static bg-white underline-offset-4 z-40">
    <nav class="flex w-full px-6 py-4 items-center justify-between md:hidden">
        <a href="/" class="z-50">
            <img src="/images/logo.png" class="w-12" alt="Logo" />
        </a>
        <input type="checkbox" id="menu" class="hidden peer">
        <label for="menu" class="peer-checked:hidden cursor-pointer z-50">
            <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
        </label>
        <label for="menu" class="hidden peer-checked:block cursor-pointer z-50">
            <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </label>
        <div
            class="peer-checked:flex fixed bg-white hidden top-0 pt-24 h-screen right-0 w-full sm:hidden flex-col px-6 py-4 text-3xl space-y-6 tracking-tight">
            <a href="/blog">Мой блог</a>
            <a href="/dart_course">Курс по Dart</a>
            <a href="/about">Обо мне</a>
        </div>
    </nav>
    <nav class="hidden select-none mx-auto md:flex justify-between items-center px-6 py-3.5 text-md md:text-lg">
        <div class="flex items-center space-x-8">
            <a href="/"><img src="/images/logo.png" class="w-12" alt="Logo" /></a>
            <a class="hover:underline" href="/blog">Мой блог</a>
            <a class="hover:underline" href="/dart_course">Курс по Dart</a>
        </div>
        <div class="flex space-x-8 items-center">
            <a class="hover:underline" href="/about">Обо мне</a>
        </div>
    </nav>
</header>
